.item-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.image-container {
  width: 100%;
  height: 180px;
  background: #eaeaea;
  margin-bottom: 10px;
}

.image-container > img {
  height: 100%;
  width: 100%;
}

.item-header {
  color: #2264d6;
  font-size: 18px;
  font-weight: 500;
}

.description-container {
  margin-top: 5px;
}

.description-tile {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.description-tile > span.label {
  font-weight: 500;
  width: 60%;
  margin-right: 5px;
}

.description-tile > span.value {
  color: #2264d6;
  margin-left: 7px;
}

.description-tile.mission-ids {
  display: block;
}

.description-tile.mission-ids > span.value {
  margin: 0;
}
